

#success {
  position: fixed;
  top: 25vh;
  width: 300px;
  height: 20vh;
  background-color: rgb(1, 146, 146);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.234);
}

#form{
    margin-top: 5rem;
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

form {
  width: 80vw;
  max-width: 300px;
}
input {
  transition: all 0.3s ease-out;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #008d7a;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

input[type="submit"]:hover {
  background-color: #006a61;
  transform: scale(1.025);
}

#form h2{
    margin-bottom: 2rem;
}
.error {
  margin-bottom: 5px;
  height: 10px;
  font-size: 10px;
  text-align: left;
  color: rgb(255, 45, 45);
}
